.cont{
    display: flex;
    margin: 50px;
}
.subcont{
    display: block;
}
.name{
    display: flex;
}
.btn{
    margin:37px 0px  0px 35px;
    background-color: black;
    color: azure;
    height: 20px;
    border-radius: 5px;

}
.tech{
    display: flex;
    /* margin: 10px; */
    flex-wrap: wrap;
    /* margin-bottom: 0px; */
    
}
.techData{
    margin-left: 10px;
    /* background-color: black; */
    /* color: azure; */
    /* height: 30px; */
    /* place-items: center; */
}
.engg{
    margin: 0px;
}
.pic{
    border-radius: 50%;
    margin-left: 10%;
    height: 15rem;
    width: 14rem;
}